DATABASE_URL="postgresql://postgres:postgres@localhost:5432/caisse_dettes?schema=public"
PORT=3000
FRONTEND_URL="*"

JWT_SECRET="change-me"

SMTP_HOST="smtp.example.com"
SMTP_PORT=587
SMTP_USER="user@example.com"
SMTP_PASS="password"
SMTP_FROM="Caisse-Dettes <no-reply@caisse-dettes.local>"
