DATABASE_URL="postgresql://postgres:postgres@localhost:5432/caisse_dettes?schema=public"
PORT=3000
FRONTEND_URL="*"

JWT_SECRET="change-me"

RESEND_API_KEY="re_xxxxxxxx"
MAIL_FROM="Caisse-Dettes <no-reply@caisse-dettes.local>"
